<div class="mt-4 main">
    <div class="container d-flex">
        <div class="col-4">
            <h5>VOGUE WAVES</h5>
            <p>Specializes in providing high-quality,stylish products for your wardrobe</p>
        </div>
        <div class="col-2">
            <h5>SHOP</h5>
            <p>All Collections</p>
            <p>Summer Edition</p>
            <p>Edition</p>
        </div>
        <div class="col-2">
            <h5>COMPANY</h5>
            <p>About Us</p>
            <p>Contact</p>
            <p>Affliates</p>
        </div>
        <div class="col-2">
            <h5>SUPPORT</h5>
            <p>FAQs</p>
            <p>Cookie Policy</p>
            <p>Terms of Use</p>
        </div>
        <div class="col-2">
            <h5>PAYMENT METHODS</h5>
        </div>
    </div>
</div>
