._content{
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    display: flex;
    padding: 50px;
}
.item-1{
    margin: auto;
}
.item-2{
    margin: auto;
}
.abt-img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
