<div class="main">
    <div class="d-flex _content">
        <div class="col-6 item-1">
            <img class="abt-img" src="\assets\m-4.jpg">
        </div>
        <div class="col-6 item-2">
            <h3>ABOUT US</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nobis laudantium iure dolor hic rem magni deleniti voluptates, dolores obcaecati rerum. 
                Maxime porro laboriosam possimus impedit unde natus expedita quae minus.
            </p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nobis laudantium iure dolor hic rem magni deleniti voluptates, dolores obcaecati rerum. 
                Maxime porro laboriosam possimus impedit unde natus expedita quae minus.
            </p>

            <button class="btn mt-2">Explore More</button>
        </div>
    </div>
</div>
