<div class="main">
    <div class="_content d-flex">
        <div class="col-8">
            <h3>About Us</h3>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor quos nihil quibusdam natus incidunt veritatis doloribus, 
                voluptatibus voluptatem recusandae accusamus dolorem expedita rem tempore aspernatur reiciendis ratione laborum quas sed.
            </p>

            <h4>Our Services</h4>
            <div class="services">
                <div class="" *ngFor="let service of services">
                    <div class="card m-2">
                        <p>{{service.txt}}</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-4">
            <img src="\assets\m-11.jpg">
        </div>
    </div>
</div>
