._container{
    /* align-items: center;
    justify-content: center; */
    display: flex;
    height: 100vh;
}
.btn {
    background-color: #eaaa30;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}
.cartItems{
    text-align: center;
}
.prices{
    text-decoration: none;
    color: #000;
}
.paymentMethods{
    column-gap: 5px;
}
.applyCoupon{
    background-color:#eaaa30;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}
.editInfo{
    justify-content: space-between;
}
.prodDetails{
    justify-content: space-evenly;
    row-gap: 5px;
}
.prodDetails > img{
    width: 50px;
    height:50px;
    object-fit: contain;
}
.total{
    justify-content: space-between;
}