<div class="d-flex">
  <div class="col-6 cartItems">
      <div *ngIf="items.length > 0">
        <div class="cart-item" *ngFor="let item of items">
            <h3 class="cartItems">{{item.name}}</h3>
            <h3 class="cartItems">{{item.price | currency}}</h3>
        </div>
    
        <div class="cart-total">
           <h3>Total: {{getTotalPrice() | currency}}</h3> 
        </div>
    
        <p>
            <a routerLink="/shipping" class="btn prices">Shipping Prices</a>
        </p>
    </div>
    
    <div *ngIf="items.length == 0">
        <h3>Cart is empty!</h3>
    </div>
  </div>

  <div class="col-6">
    <div class="column cartForm">
      <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">

        <div class="col-6">
          <label for="name">
            Name
          </label>
          <input id="name" type="text" formControlName="name" class="form-control">
        </div>

        <div class="col-6">
          <label for="address">
            Address
          </label>
          <input id="address" type="text" formControlName="address" class="form-control">
        </div>

        <button class="btn mt-3" type="submit">Purchase</button>

      </form>
    </div>
  </div>
</div>





