._container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.btn {
    background-color: #eaaa30;
    color: #000;
    font-weight: bold;
}
.cartItems{
    text-align: center;
}
.prices{
    text-decoration: none;
    color: #000;
}