.arrImg{
    object-fit: contain;
    width:300px;
    height:300px;
    border-radius: 10px;
}
._content{
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    border: none;
}