<h2>Products</h2>
<div class="container">
    <div class="d-flex flex-wrap gap-4">
        <div *ngFor="let product of products">
            <div class="card">
                <img class="card-img" src="{{product.image}}">
                <a [title]="product.name + ' details'" style="text-align: center;">{{product.name}}</a>
                <p *ngIf="product.description">
                   <b>Description:</b>{{product.description}}
                </p>
            </div>
        </div>
    </div>
</div>


