<div class="main">
    <div class="_content">
        <div class="d-flex items">
            <div class="col-6 items-1">
                <h1>
                    SHOP YOUR<br> FAVOURITE <span style="color: #eaaa30;">STYLISH</span><br> DESIGNS
                </h1>
                <h5 mt-2>Discover Top Stylish outfits from kids,women and mens clothings.</h5>
                <button class="btn mt-2">Explore More</button>
            </div>
            <div class="col-6 items-2">
                <img class="items-img" src="\assets\m-3.jpg">
            </div>
        </div>
    </div>

</div>

<div class="main-arrivals">
    <div class="container">
        <nav class="navbar navbar-expand-md justify-content-between">
            <h3 class="navbar-brand" href="#">NEW ARRIVALS</h3>

            <div class="" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <span>Filter</span>
                    </li>
                    <li class="nav-item px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                          </svg>
                          <span>Sort By</span>
                    </li>
                    <li class="nav-item px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                    </li>
                    <li class="nav-item px-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                            <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
                          </svg>
                    </li>
                  </ul>
            </div>
           
          
            
        </nav>
    </div>
   
    <div class="d-flex content">
        <div *ngFor="let arrivalImage of arrivalImages">
            <div class="card"><img class="arrImg" src="{{arrivalImage.img1}}" ></div>
        </div>
    </div>
</div>

<div class="main-abt">
    <div class="d-flex _content-abt">
        <div class="col-6 item-1">
            <img class="abt-img" src="\assets\m-4.jpg">
        </div>
        <div class="col-6 item-2">
            <h3>ABOUT US</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nobis laudantium iure dolor hic rem magni deleniti voluptates, dolores obcaecati rerum. 
                Maxime porro laboriosam possimus impedit unde natus expedita quae minus.
            </p>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Nobis laudantium iure dolor hic rem magni deleniti voluptates, dolores obcaecati rerum. 
                Maxime porro laboriosam possimus impedit unde natus expedita quae minus.
            </p>

            <button class="btn mt-2">Explore More</button>
        </div>
    </div>
</div>
