<div class="main">
    <div class="_content">
        <div class="d-flex items">
            <div class="col-6 items-1">
                <h1>
                    SHOP YOUR<br> FAVOURITE <span style="color: #eaaa30;">STYLISH</span><br> DESIGNS
                </h1>
                <h5 mt-2>Discover Top Stylish outfits from kids,women and mens clothings.</h5>
                <button class="btn mt-2">Explore More</button>
            </div>
            <div class="col-6 items-2">
                <img class="items-img" src="\assets\m-3.jpg">
            </div>
        </div>
    </div>

</div>
